# ===========================
# Dependencies
# ===========================
node_modules/

# ===========================
# Expo
# ===========================
.expo/
dist/
web-build/
expo-env.d.ts

# ===========================
# Native (Android/iOS)
# ===========================
# We ignore these so each OS (Mac/Linux) generates its own native files
/android
/ios

# ===========================
# Credentials & Secrets (NEVER PUSH THESE)
# ===========================
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
*.pem
.env
.env*.local
google-services-key.json
google-service-account*.json
expo-apps-submissions*.json

# ===========================
# Build artifacts
/build
*.apk
*.aab
# ===========================
*.aab
*.apk
*.ipa
build/
bin/
obj/

# ===========================
# macOS / Windows / Linux
# ===========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ===========================
# IDE / Editor Config
# ===========================
.vscode/
.idea/
*.iml
*.swp
*.swo

# ===========================
# Logs
# ===========================
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# ===========================
# Misc
# ===========================
.qodo
app-example/
.metro-health-check*
